.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;

}

body {
  background-color: #050724;
  color: white;
  font-family: "Retropix";
  font-size: 20px;
}


.flex {
  display: flex;
}

#nameInput{
  border-radius: 8px;
  height:30px;
}



.slide {
  display: none;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide p {
  font-size: 1.2em;
  margin-top: 8px;
}

.column {
  flex-direction: column;
}

.align-items {
  align-items: center;
}



.previous-next {
  cursor: pointer;
  background: none;
  /* No background */
  border: none;
  color: white;
  font-size: medium;

}

/* Basic styles for the interface */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interface {
  display: flex;
  justify-content: space-between;

  margin: 20px;
}

.navbar {
  font-size: 18px;
  padding: 5px;
}
