.how-to-play {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 1.5rem;
    font-size: 80px;
    color: white;
}

.how-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10rem;
    width: 80%;
}

.neon {
    height: 90%;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
}

.game-pic {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.game-pic>img {
    border-radius: 20px;
    border: 5px solid var(--planet-color);
}

.game-pic-second>img {
    border-radius: 20px;
    border: 5px solid var(--planet-color);
}

.symbols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    color: white;
    width: 50%;
}

.symbol-item {
    text-align: center;
}

.play-now-section {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.play-now-btn {
    background-image: url(../assets/images/button.png);
    height: 80px;
    width: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor:pointer;
    user-select: none;
}

.space-crew {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap:70px;
}

.crew-title {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80%;
    align-items: center;
}

.rocket>img {
    width: 120px;
    height: 120px;
}

.rocket {
    width: fit-content;
}

.title {
    font-size: 80px;
    color: white;
    text-align: center;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-title{
    font-size: 35px;
}

.box-description {
    font-family: 'Retropix';
    font-size: 27px;
}

.box {
    color: white;
    min-width:349px;
    min-height:217px;
    max-width:349px;
    max-height:217px;
    padding:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:27px;
}

.spacecrew-purple{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacecrew-blue-beige{
    display:flex;
    justify-content: space-between;
    gap:150px;
}

.spacecrew-blue{
    display:flex;
    gap:10px;
    align-items: center;
}

.spacecrew-beige{
    display:flex;
    flex-direction: row-reverse;
    gap:10px;
    align-items: center;
}

.spacecrew-pink-green{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:300px;
}

.pink-green-characters{
    display:flex;
    justify-content: center;
    align-items: center;
}

.character{
    width:fit-content;
}
.purple-box {
    box-shadow: 0px 0px 10px 6px rgba(92, 50, 161, 0.9);
    background-color: var(--purple-character);
}

.blue-box {
    box-shadow: 0px 0px 10px 8px rgba(129, 169, 219, 0.9);
    background-color: var(--blue-character);
}

.beige-box {
    box-shadow: 0px 0px 10px 8px rgba(224, 209, 175, 0.9);
    background-color: var(--beige-character);
}

.pink-box {
    box-shadow: 0px 0px 10px 8px rgba(222, 144, 168, 0.9);
    background-color: var(--pink-character);
}

.green-box {
    box-shadow: 0px 0px 10px 8px rgba(103, 182, 157, 0.9);
    background-color: var(--green-character);
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    padding:80px;
    font-size: 30px;
}